body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #007FFF;
}

.container {
  height: 80vh;
  max-width: 400px;
  padding: 15px;
  border: 5px solid #FFD700;
  border-radius: 3px;
  background: #FFF;
  display: grid;
  grid-template-rows: 1fr auto;
}

.text {
  overflow: scroll;
}

/* Button */
.accept {
  padding: 15px;
  border-radius: 3px;
  transition: all 0.6s;
  font-size: 18px;
  background: #7F00FF;
  color: #FFF;
}

.accept[disabled] {
  opacity: 0.1;
  transform: translateX(-500%) scale(0.5);
}

