.tabs {
	display: grid;
}

[role="tablist"] {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
}

[role="tabpanel"] {
	padding: 15px;
	background: #007fff;
	color: #fff;
}

button {
	border-radius: 5px 5px 0 0;
	background: #cdcdcd;
	color: #282828;
}
