body {
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: start;
	background: #396afc; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2948ff, #396afc); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2948ff,
		#396afc
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-family: sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.shopping-list {
	display: grid;
	grid-template-columns: 1fr auto;
	margin-top: 2rem;
	padding: 3rem;
	border-radius: 3px;
	background: #fff;
}

input[type="text"],
button {
	padding: 0.7rem;
	font-size: inherit;
	font-weight: inherit;
}

input[type="text"] {
	margin-right: -4px;
	border: 1px solid #ededed;
	outline-color: #7f00ff;
}

button[type="submit"] {
	padding: 0.7rem 1.2rem;
	border: 1px solid #7f00ff;
	/* border-radius: 3px; */
	background: #7f00ff;
	color: #fff;
	cursor: pointer;
}

button[type="submit"]:hover {
	transition: 0.6s ease;
	background: #660198;
}

.list-item {
	padding: 1rem 0;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 1rem;
	border-bottom: 1px solid #ededed;
}
