html {
	--blue-theme: #1e90ff;
	--button-style: #7f00ff;
	--outer-modal-bg: hsla(90, 100%, 50%, 0.7);
	--white: #fff;
}

body {
	font-family: sans-serif;
	font-size: 15px;
	background-color: var(--blue-theme);
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 21.184c.13.357.264.72.402 1.088l.661 1.768C4.653 33.64 6 39.647 6 50c0 10.271-1.222 15.362-4.928 24.629-.383.955-.74 1.869-1.072 2.75v6.225c.73-2.51 1.691-5.139 2.928-8.233C6.722 65.888 8 60.562 8 50c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C1.352 19.098.601 16.913 0 14.85v6.335zm20 0C17.108 13.258 16 8.077 16 0h2c0 5.744.574 9.951 2 14.85v6.334zm0 56.195c-2.966 7.86-4 13.123-4 22.621h2c0-6.842.542-11.386 2-16.396v-6.225zM6 0c0 8.44 1.21 13.718 4.402 22.272l.661 1.768C14.653 33.64 16 39.647 16 50c0 10.271-1.222 15.362-4.928 24.629C7.278 84.112 6 89.438 6 100h2c0-10.271 1.222-15.362 4.928-24.629C16.722 65.888 18 60.562 18 50c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C9.16 13.223 8 8.163 8 0H6z' fill='%23fff' fill-rule='nonzero' fill-opacity='.1' opacity='.349'/%3E%3C/svg%3E%0A");
}

/* Card Styles */
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 15px;
	padding: 15px;
}

.card {
	padding: 15px;
	border-radius: 3px;
	background: var(--white);
}

.card img {
	width: 100%;
	border-radius: 3px;
}

.card h2 {
	font-size: 2em;
	color: var(--blue-theme);
}

.card button {
	padding: 8px 12px;
	border: none;
	font-size: 1.2em;
	background: var(--button-style);
	color: var(--white);
}

.card button:hover {
	cursor: pointer;
}

/* Modal Styles */

/* Outer modal which will serve as the background to the inner modal */
.outer-modal {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: var(--outer-modal-bg);
	/* Hiding modal until button is clicked */
  opacity: 0;
	pointer-events: none; /* This property causes the browser to ignore events on the element
	transition: opacity 0.2s;
}

.outer-modal img {
	width: 100%;
}

.outer-modal.open {
	opacity: 1;
	pointer-events: all;
}

/* Inner Modal */
.inner-modal {
	max-width: 600px;
	min-width: 400px;
	min-height: 200px;
	padding: 15px;
	border-radius: 3px;
	background: var(--white);
	transform: translateY(200%);
	transition: transform 1s;
	z-index: 1;
}

/* This class brings the inner modal into view */
.outer-modal.open .inner-modal {
	transform: translateY(0);
}
