body {
	min-height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
	background: #37bc61;
}

.container {
	padding: 3rem;
	background: #fff;
	border: 3px solid #ebebeb;
}

button {
	margin: 0 1rem;
	padding: 1rem 1.3rem;
	border: transparent;
	border-radius: 3px;
	font-size: 1.3rem;
	background: #1464f4;
	color: #fff;
	cursor: pointer;
}
