body {
  background:lightseagreen;
  color: #000;
  font-size: 18px;
  line-height: 1.5;
}

.wrapper {
  display: grid;
  justify-content: center;
}

form {
  display: grid;
  justify-content: center;
  max-width: 600px;
  padding: 2em;
  background: #fff;
}

input {
  display: block;
}